#card_buys-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  margin-left: 3%;
}

.card_buy {
  background-color: #18181b;
  width: 12rem;
  padding: 1rem;
  border-radius: 0.5rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative; 
  transition: transform 0.3s, background-color 0.3s;
}

.card_buy:hover {
  background-color: #27272a;
  transform: scale(1.05);
}

.card_buy button {
  margin-top: 0.5rem;
  padding: 0.5rem;
  background-color: #dc2626;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.card_buy button:hover {
  background-color: #831111;
}

/* Ícone de coração (favoritar) */
.card_buy .fav-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.2s;
}

.card_buy .fav-icon:hover {
    color: red;
  transform: scale(1.2);
}
